.button {
  background-color: var(--color-border);
  color: var(--color-inside);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &--loading {
    pointer-events: none;
    animation: loading-button 2s infinite ease;
  }
}
